body {
    background-color: rosybrown;

}

header 
{
    border: solid 2px sienna;
    text-align: center;
    background-image: url(./imagenes/logo\ unas.jpg);
    background-position: center;
    background-repeat: round ;
    background-size: contain;
    
}

.div-parrafo
{
    border: solid 2px red;
    margin: 35px 60px 50px;
    padding: 2em;
}
p
{
    font-size: 20px;
    font-family: cursive;
}

img
{
    width: 100%;
    padding: 5px;
}

   
footer
{
    border: black solid 2px;
    padding: 5px;
}

.footer 
{
    border: wheat solid 2px;  
    display: inline-flex; 
    width: 100%;
    
}
.texto 
{
    border: red solid 2px;
    width: 50%;
    
}
.medios 
{
    display: inline-flex;
    border: black solid 2px;
    width: 50%;
    list-style: none;
    
    
}
li
{
    padding: 20px;
}

